.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 30px;
}

.container img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color: #FAB12F;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 10px;
}