.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    background-color: #FAB12F;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

mat-form-field {
    width: 100%;
}

.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.preview img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.file-upload {
    margin: 15px 0;
}

.upload-btn {
    display: inline-block;
    background-color: #0D0D39;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s;
}

.upload-btn:hover {
    background-color: #303f9f;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn.save {
    background-color: #0D0D39;
    color: white;
}

.btn.save:hover {
    background-color: #303f9f;
    transform: translateY(-2px);
}